.homeBar {
  color: #FBFEF7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #213721;
  background-size: contain;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.logo {
  font-family: "Modern Antiqua", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo a {
  all: unset;
  cursor: pointer;
}

.homeButtons {
  display: flex;
  gap: 21px;
  font-style: bold;
}

.pageButton {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  background-color: transparent;
  color: #FBFEF7;
  border: none;
  border-radius: 9px;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.pageButton:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-skip-ink: auto;
}


.profileButton span {
  background-color: white;
  width: 100%;
  height: 100%;
}

.profileButton {
  margin-right: 20px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}


.userDropDown {
  position: relative;
  display: inline-block;
}

.userDropDownContent {
  display: none;
  position: absolute;
  transform: translateX(-30px);
}

.userDropDownContent a {
  background-color: white;
  padding-left: 13px;
  padding-right: 13px;
  margin-right: 100px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  display: block;
  text-decoration: unset;
  border-radius: 10px;
}


.userDropDownContent a:hover {
  background-color: #8BA752;
  color: white;
}

.userDropDown:hover .userDropDownContent {
  display: block;
}

.logoBottom {
  font-size: 10px;
}
