body {
    font-family: "Montaga", serif;
    font-weight: 400;
    font-style: normal;
    font-size:50px;
    background-image:url("../../assets/indexTreeBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:#FFF5F5;
}


.stylishItalic{
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-style: normal;
    color:#5DB996;
}

.mainPanel{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    margin-top:10%;
}

h2{
    margin: 0px 0px 0px 0px;
    -webkit-text-stroke:2px #0F0F0F;
    text-shadow: 4px 5px 2px #000000;
}

.mainButton{
    border:none;
    width:20%;
    padding:16px 30px;
    background-color:#AAD2AA;
    opacity:0.6;
    text-align:center;
    display:inline-block;
    border-radius:15px;
    font-family: "Montaga", serif;
    font-weight: 500;
    font-style: bold;
    font-size:28px;
    color:#FFF5F5;
}




