body {
  padding: 0;
  margin: 0;
  background-color: #213721;
}

.firstPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.SignInForm {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border-radius: 5px;
  background-color: #FCFBDD;
  width: 519px;
  margin-top: 300px;
  margin-bottom: 300px;
  gap: 21px;
}

.SignInForm h2 {
  font-size: 24px;
  font-weight: 390;
}

.SignInForm .in {
  width: 292px;
  height: 44px;
  border-radius: 15px;
  border: 1px solid black;
  background: transparent;
}

.SignInForm input:user-invalid:not(:is([type="checkbox"])) {
  animation: oopsie 0.5s;
  border-color: red;
  color: red;
}

@keyframes oopsie {
  0% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}


.SignInForm form {
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: center;
  margin-top: 21px;
  margin-bottom: 21px;
}

.SignInForm button {
  background-color: #BECD9D;
  border: 1px solid black;
  width: 106px;
  height: 44px;
  border-radius: 15px;
}

.SignInForm button:focus {
  background-color: #213721;
}

.SignInForm #terms {
  font-size: 12px;
}

.SignInForm #terms #signIN {
  margin-left: 30px;
  width: 106px;
  height: 44px;
}
