body {
    font-family: "Montaga", serif;
    font-weight: 400;
    font-style: normal;
    font-size:50px;
    color:#FFF5F5;
    background-image:url("../../assets/indexTreeBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:scroll;
    background-attachment: fixed;
    height:100%;
    width:100%;
 }

h3{
    width:50%;
}
.treeChooseDisplay{
    display:grid;
    column-gap:25px;
    row-gap:50px;
    width:60%;
    grid-template-columns: auto auto auto auto auto;

}
.treeChoosePanel{
    display:flex;
    background-color:green;
    padding:10px 1px;
    width:100%;
    border-radius:10px;
    align-items:center;
    flex-direction:column;
    opacity:0.8;
}
.treeChosePanelImage{
    border-radius:10px;
    width:200px;
    height:150px;
}

.treeChosePanelButton{
    border:none;
    padding: 0px 6px;
    background-color:#E3F0AF;
    text-align:center;
    display:inline-block;
    border-radius:15px;
    font-family: "Montaga", serif;
    font-weight: 500;
    font-style: bold;
    font-size:28px;
    color:black;

}




